.post-list {
    margin: 20px;
    border: 1px solid black;
}

article {
    margin: 30px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.upvote-box {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upvote-box p {
    font-size: 30px;
}

.post {
    width: 90%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.post h3 {
    width: 100%;
    margin: 10px 0px;
    font-size: 30px;
}

.post-content {
    width: 100%;
    min-height: 30px;
}

.post-content img {
    width: 100%;
}

.post footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.post footer a {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.post footer p {
    font-size: 24px;
}

.post footer button {
    width: 40px;
}

.post footer button svg {
    padding: 1px;
}

.comment {
    border: 1px dotted black;
    padding: 5px;
}

.comment-author {
    font-weight: bold;
}